# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
.gradle-port-cache/
.gradle-native/

# other
eclipse
run
runs
run-data

repo
NeoSkills.md
docs/audit/

src/generated/resources/.cache/

# logs
logs/
/src/guidebook/

# vs code
.vscode/

# worktrees
.worktrees/

.mcopilot/
.aider*
src/main/java/cn/dancingsnow/neoecoae.zip
CHANGELOG.md
docs/tooltips.md
